@model NSUDemo.Models.Event

<div class="form-group">
    @Html.LabelFor(model => model.EventName, htmlAttributes: new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.EventName, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.EventName, "", new {@class = "text-danger"})
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Dated, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Dated, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Dated, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.EventCategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("EventCategoryID", (IEnumerable<SelectListItem>)ViewBag.EventCategoryID, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.EventCategoryID, "", new { @class = "text-danger" })
    </div>
</div>

