@model IEnumerable<NSUDemo.Models.Event>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table animated fadeInRight table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventCategoryID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dated)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EventCategoryID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
            </td>
        </tr>
    }

</table>
