@model IEnumerable<NSUDemo.Models.EventCategory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table animated fadeIn">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventCategoryID }) |
            @Html.ActionLink("Details", "Details", new { id = item.EventCategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EventCategoryID })
        </td>
    </tr>
}

</table>
